/* Global style start---------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
/* Global style end--------------------*/

/* Resuable style start -----------------*/
.btn {
  display: inline-block;
  border-radius: 8px;
  border: 2px solid transparent;
  font-weight: 600;
  padding: 14px 28px;
  transition: 0.3s;
}
.btn-big {
  font-size: 25px;
}

.btn-solid {
  background: #2563eb;
  color: white;
}

.btn-solid:hover {
  background: #1e40af;
}

.btn-outline {
  color: #2563eb;
  border-color: #2563eb;
}

.btn-outline:hover {
  background: #2563eb;
  color: white;
}

.btn-outline-black {
  color: #000000;
  border-color: #000000;
}

.btn-outline-black:hover {
  background: #000000;
  color: white;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 50px;
  margin-bottom: 50px;
}

.mt-10 {
  margin-top: 50px;
}

.profession {
  font-weight: 600;
  font-size: 11px;
  color: #2563eb;
}

.name {
  font-weight: 800;
  font-size: 20px;
}

.about {
  font-weight: 500;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.685);
}
/* Resuable style end -----------------------*/

/* Header style start------------------------ */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.nav-links li a {
  color: #575757;
  font-size: large;
}

.logo img {
  width: 150px;
}
/* Header style end------------------------ */

/* Hero style start----------------------- */
.hero {
  background:
    linear-gradient(to right, rgb(0, 0, 0), rgba(255, 255, 255, 0.068)),
    url("../assets/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 700px;
  color: white;
}

.hero-content {
  text-align: center;
  height: 100%;
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 100px 0 80px 0;
}

.hero-content div h1 {
  font-size: 80px;
  margin-bottom: 20px;
}

.hero-content div p {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.767);
}
/* Hero style end----------------------- */

/* speaker section's style star--------------------------t */
.speaker-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 50px;
}

.speaker-card {
  border: rgba(0, 0, 0, 0.247) 1px solid;
  border-radius: 8px;
  overflow: hidden;
  width: 800px;
}

.speaker-card img {
  width: 100%;
}

.speaker-card div {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* speaker section's style end-------------------------- */
